/.idea/
/log/
/time.txt
/.idea/workspace.xml
/common/starifyUserToken.txt
/common/devUserToken.txt
__pycache__/
caseStarify/__pycache__/
common/__pycache__/
/caseStarify/del/
/.qoder/
/.vscode/
*.pyc
*.log
